@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.aboutWords {
  grid-column: center-start / col-end 6;

  display: grid;
  grid-template-rows: repeat(2, min-content) 1fr;
  grid-gap: 1rem;
  padding-top: 8rem;
  padding-bottom: 3rem;
}

.circleContainer {
  display: grid;
  grid-template-columns: 1fr repeat(3, minmax(7.10rem, 1fr));
  padding-bottom: 1rem;
  justify-items: end;
}

.circle {
  background-image: url("https://cgportfolioweb.s3-us-west-1.amazonaws.com/circle.png");

  background-size: 7.10rem 5.96rem;
  width: 7.10rem;
  height: 5.96rem;

  display: grid;

  justify-items: center;
  align-content: center;
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 0.933rem;
  color: #393E46;
}

.rCircle {
  justify-self: center;
}

.about {
  padding-left: 3.31rem;
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 1.244rem;
  color: #393E46;
}

.intro {
  display: grid;
  text-align: justify;
  padding-left: 6.635rem;
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #393E46;
}