
.container {
  display: grid;
  grid-template-rows: minmax(min-content, 95vh) repeat(4, min-content);
  grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 8rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
}
