@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.modalBackground {
  background: rgb(34, 34, 34);
  opacity: 0.6;
  position: fixed;
  z-index: 400;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  overflow-y: auto;
  bottom: -250px;
  transition: bottom 1.3s ease out;
}

.modal {
  z-index: 401;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  display: grid;
  grid-template-columns: [full-start] minmax(3.5rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 8rem) [col-end]) [center-end] minmax(3.5rem, 1fr) [full-end];

  align-items: center;
}

.frame {
  z-index: 402;
  height: min-content;
  grid-column: col-end 2 / col-end 8;
  background: rgb(255, 255, 255) !important;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.28) 0px 8px 28px;

  display: grid;
  grid-template-rows: 5.5rem 1fr;

}

.modalHeader {
  height: 5.5rem;
  background: #00ADB5;
  border-radius: 30px 30px 0px 0px;
  align-items: center;
  display: grid;
}

.headerContent {
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
  justify-content: space-between;
}

.headerWords {
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #FCFAF0;
  display: grid;
  align-items: flex-end;
}

.icon {
  height: 2.5rem;
  width: auto;
  display: block;
  background: #73DCD6;
  fill: #FCFAF0;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  align-items: center;
}

.modalContent {
  display: grid;
  grid-template-columns: [side-start] 5rem [carousel-start] 1fr [carousel-end] 5rem [side-end];
}

.leftSide {
  grid-column: side-start / carousel-start;
  display: grid;
  align-items: center;
  justify-content: center;
}

.rightSide {
  grid-column: carousel-end / side-end;
  display: grid;
  align-items: center;
  justify-content: center;
}

.carouselButton {
  height: 2rem;
  width: auto;
  display: block;
  background: #73DCD6;
  fill: #393E46;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  align-items: center;
}

.carouselViewport {
  overflow-x: hidden;
  width: 38rem;
}

.modalCarousel {
  grid-column: carousel-start / carousel-end;
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  width: fit-content;
  overflow-x: auto;
  overflow-y: auto;
  scroll-snap-type: x mandatory;
}

.carouselCard {
  width: 38rem;
  max-width: 50%;
  /* flex: 0 0 50%; */
  scroll-snap-align: start;
  scroll-snap-stop: always;
  border-style: solid;
  border-width: 0px;
  margin: 0px;

  display: grid;
  grid-template-rows: repeat(3);
  grid-gap: 2rem;

  font-family: lora;
  font-size: 18px;
  font-weight: 600;
}

.moveForward {
  transition-duration: 0.5s;
  transform: translate(-38rem)
}

.moveBackward {
  transition-duration: 0.5s;
  transform: translate(0rem)
}

.videoPlayer {
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 24rem;
  margin: 0px;
  margin-top: 3rem;
  border-width: 0px;
}

.techIconContainer {
  height: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
  align-items: center;
  padding-bottom: 2rem;
}

.techIcon {
  max-width: 80%;
  max-height: 60%;
  justify-self: center;
}