@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.portfolio {
  grid-column: col-end 1 / col-end 9;
  padding-top: 2rem;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.5rem, 1fr));
  grid-gap: 4rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.card {
  width: 18rem;
  height: 14rem;
  background: #FCFAF0;
  border: 2px solid rgba(192, 199, 197, 0.42);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;

  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding-top: 1.2rem;

  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow:
  inset 0 -5px 20px hsla(0, 0%, 0%, 0.4), /* top light */
  inset 0 5px 20px hsla(0, 0%, 100%, 0.4), /* bottom shadow */
  /* multiple light sources */
  -12px 12px 5px hsla(0, 0%, 0%, 0.15), /* drop shadow 1 */
  10px 25px 10px hsla(0, 0%, 0%, 0.2); /* drop shadow 2 */
}

.cardImg {
  padding-top: 0.5rem;
  width: 12.5rem;
  height: 8rem;
}

.cardTitle {
  font-family: Lora, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color:  #00ADB5;
}

.cardWords {
  font-family: Lora, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #393E46;
}

.cardModal {
  display: none;
  width: 100%;
  height: auto;
  background: rgb(34, 34, 34);
  opacity: 0.6;
}