@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.topBarVP {
  width: 100vw;
  max-width: 1440px !important;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  position: fixed
}

.tealBar {
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0px;
  top: 0px;
  background: #00ADB5;
}

.logoCircle {
  position: absolute;
  width: 125px;
  height: 125px;
  left: 54px;
  top: 15px;
  border-radius: 50%;
  background: #73DCD6;
}

.logoWords {
  position: absolute;
  width: 82px;
  height: 84px;
  left: 83px;
  top: 38px;

  font-family: Cookie;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 80px;

  color: #FCFAF0;
}

.tabContainer {
  padding-left: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tabItems {
  display: inline-block;
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 100%;
  color: #FCFAF0;
  padding-right: 12px;
}