@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.text {
  font-family: Lora, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  color: #393E46;
}